*{
    margin: 0;
    padding: 0;
}
body{
    font-size: large;
    font-family: sans-serif;

}

body header{
    margin: 1%;
}

body header img{
    width: 15%;
    display: flex;
    justify-content: flex-start;
}
body header nav{
    display: flex;
    justify-content: flex-end;
}

body header nav ul{
    display: flex;
    justify-content: space-between;
}

body header nav ul li{
    list-style: none;
    margin-right: 25px;
    font-size:x-large;
}

body header nav ul li a{
    text-decoration: none;
    color: black;
}

body main .intro{
    background-color: rgb(165, 142, 114);
    display: flex;
    justify-content: baseline;
    padding: 2em;
    gap: 5%;

}

body main .intro .text h1{
    font-size:xxx-large ;
    margin-bottom: 2%;
}

body main .intro .text{
    width: 70%;
}

body main .intro .text p{
    font-size: xx-large;
    margin: 2%;
}

body main .intro .text .boton-productos{
    padding: 1%;
    margin: 3% 2%;
    background: rgb(108, 87, 61);
    width: fit-content;
    border-radius:10px;
    font-size: larger;
    box-shadow: 8px 10px 10px black;
    border: solid black 1px;
}

body main .intro img{
    width: 20%;
}

body main .cards{
    display: flex;
    justify-content: space-around;
    padding: 3em 2em;
    gap: 1%;
}

body main .cards .calidad{
    width: 32vw;
    background-color: rgb(165, 142, 114);
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    border: solid 1% rgb(108, 87, 61);
    box-shadow: 8px 10px 10px black;
    border: solid black 1px;
}

body main .cards .compromiso{
    width: 32vw;
    background-color: rgb(165, 142, 114);
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: 8px 10px 10px black;
    border: solid black 1px;
}

body main .cards .valores{
    width: 32vw;
    background-color: rgb(165, 142, 114);
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
    box-shadow: 8px 10px 10px black;
    border: solid black 1px;
}

body main .formulario{
    text-align: center;
    background-color: rgb(204, 175, 137);
    padding: 1%;
}


body main .formulario h1{
    margin: 2%;
}

body main .formulario .info{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 3%;
}

body main .formulario .info .nom{
    text-align: center;
    width: fit-content;
    font-size: large;
    padding: 1%;
    border-radius: 8px;
    background-color: rgb(165, 142, 114);
    border: solid 2px black;
}

body main .formulario .info .tel{
    text-align: center;
    width: fit-content;
    font-size: large;
    padding: 1%;
    border-radius: 8px;
    background-color: rgb(165, 142, 114);
    border: solid 2px black;
}

body main .formulario .info .apel{
    text-align: center;
    width: fit-content;
    font-size: large;
    padding: 1%;
    border-radius: 8px;
    background-color: rgb(165, 142, 114);
    border: solid 2px black;
}

body main .formulario .info .correo{
    text-align: center;
    width: fit-content;
    font-size: large;
    padding: 1%;
    border-radius: 8px;
    background-color: rgb(165, 142, 114);
    border: solid 2px black;
}

body main .formulario textarea{
    padding: 0.5%;
    border-radius: 10px;
    background-color:rgb(165, 142, 114);
    font-size: large;
    border: solid 2px black;
    
}

body main .formulario button{
    background-color: rgb(131, 96, 54);
    padding: 1% 2%;
    border-radius: 10px;
    font-size: large;
    
}



